:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #4f4b4b;

	--color-s: #ff7f80;
	--color-a: #ffc07f;
	--color-b: #ffdf80;
	--color-c: #fdff7f;
	--color-d: #bfff7f;
	--color-e: #7fff7f;
}

* {
	box-sizing: border-box;
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: white;
}
